---
import Layout from '../layouts/Page.astro';
---

<Layout	title="Contact Us">
  <h2>Email</h2>
  <p>For General Inquiries: <a href="mailto:info@aSaferAustinStreet.com">info@aSaferAustinStreet.com</a></p>
</Layout>
