---
import Layout from '../layouts/Page.astro';
---

<Layout	title="Contact Us">
	<h2>Email and meetings</h2>
    <p>For General Inquiries: <a href="mailto:pedro@ASaferAustinStreet.com">pedro@ASaferAustinStreet.com</a></p>
    <p>
        We are no longer meeting monthly and will instead hold general meetings as needed. We have a steering committee that meets regularly. Contact <a href="mailto:pedro@ASaferAustinStreet.com">pedro@ASaferAustinStreet.com</a> if you're interested in attending these meetings. 
	</p>
</Layout>
