---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE } from "../consts";
import ImagePath from "../components/ImagePath.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} />
  </head>
  <body>
    <Header />
    <main>
      <div class="homescreen">

        <h1>SUPPORT THE AUSTIN STREET OPEN STREET!</h1>

        <span>After the success of <a href="/news/hurray-for-austin-day/">Austin Day</a> and Trick or Streets last year, we are, once again, advocating for an Open Street on Austin Street!
          This year we are aiming for four (4) Sundays in August and September. Support this intiative by signing our petition below!</span>

        <a href="https://forms.gle/BB9hRiiaqmYLXuyV7" target="_blank">
          <button> Sign the Petition for an Austin Street Open Street! </button>
        </a>

        <span>Want to stay up to date on our efforts?</span>
        <a href="https://forms.gle/EdSW5TnG5BU2Ftxc6" target="_blank">
          <button> Sign up for our mailing list! </button>
        </a>

        <i><p>Neighbors for Safer Austin Street is a volunteer-led, local advocacy organization advocating for a safer, better, more sustainable, vibrant, and pedestrian-friendly Austin Street in Forest Hills</p></i>
      </div>
    </main>
    <Footer />
  </body>
</html>

<style>
	.homescreen {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		gap: 2rem;
	}
	button {
		height: 4rem;
		width: 20rem;
		font-size: 1rem;
		background-color: var(--accent);
		color: white;
		border: none;
		padding: 1em 2em;
		border-radius: 4px;
		cursor: pointer;
		transition: background-color 0.2s ease;
	}
	button:hover {
		background-color: var(--accent-dark);
	}
</style>
