---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Open Austin Street Proposal</h1>
			<p>
				The Open Austin Street Proposal, a project by Neighbors for A Safer Austin Street, proposes to turn a block on Austin Street, from 71st Ave to 71st Rd, into a vibrant plaza on weekends, from July until October.
			</p>
			<p>
				The Open Street will transform one of Austin Street's segments with the narrowest sidewalks into a temporary plaza, allowing shoppers, commuters, and everyone else to move more comfortably through the core.
			</p>
			<p>
				The Open Street will be equipped with tables and chairs, providing a comfortable resting place for shoppers and residents. This will encourage people to spend more time in the area, leading to increased shopping and a boost to the local economy. The added seating will also benefit small businesses that do not have much seating.
			</p>
			<p>
				The Open Street will also help traffic by removing through traffic on the eastern end of Austin Street, leading to a more pleasant, calmer commercial core overall.
			</p>
			<p>
				Finally, the Open Austin Street will serve as a community space for a variety of events, such as music, art, clothes swaps, and more. These events will not only attract more people to the Austin Street core but also foster a sense of community without adding competition to the local businesses.
			</p>
			<p>This will is not a street fair, but a pleasant strolling and community gathering space. This would not introduce competition to the local businesses, and instead would benefit them by attracting more foot traffic to their doors.</p>
			<p>
				The Open Austin Street Proposal is currently in the planning stages and is expected to be implemented in the fall of 2025.
			</p>		
		</main>
		<Footer />
	</body>
</html>
