---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE } from "../consts";
import ImagePath from "../components/ImagePath.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} />
	</head>
	<body>
		<Header />
		<main>
			<div class="homescreen">

        <span>Thank you all who helped put together Forest Hills' very first Trick or Streets on Oct 31st.
          Now stay tuned for more updates! Austin Day and Trick or Streets were great trial, but we're not done
          until Austin Street is finally comfortable, clean, vibrant and safe!</span>

        <span>Want to stay up to date on our efforts?</span>
				<a href="https://forms.gle/EdSW5TnG5BU2Ftxc6" target="_blank">
					<button> Sign up for our mailing list! </button>
				</a>

        <i><p>Neighbors for Safer Austin Street is a volunteer-led, local advocacy organization advocating for a safer, better, more sustainable, vibrant, and pedestrian-friendly Austin Street in Forest Hills</p></i>
			</div>
		</main>
		<Footer />
	</body>
</html>

<style>
	.homescreen {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		gap: 2rem;
	}
	button {
		height: 4rem;
		width: 20rem;
		font-size: 1rem;
		background-color: var(--accent);
		color: white;
		border: none;
		padding: 1em 2em;
		border-radius: 4px;
		cursor: pointer;
		transition: background-color 0.2s ease;
	}
	button:hover {
		background-color: var(--accent-dark);
	}
</style>
