---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE } from "../consts";
---
<style>
	.homescreen {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		gap: 2rem;
	}
	button {
		height: 4rem;
		width: 20rem;
		font-size: 1rem;
		background-color: var(--accent);
		color: white;
		border: none;
		padding: 1em 2em;
		border-radius: 4px;
		cursor: pointer;
		transition: background-color 0.2s ease;
	}
	button:hover {
		background-color: var(--accent-dark);
	}
</style>

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} />
	</head>
	<body>
		<Header />
		<main>
			<div class="homescreen">
				<h1>Support the Austin Street Open Street Application!</h1>

				<a href="https://forms.gle/DZS9F5819pTyNYqv9" target="_blank">
					<button> Sign the Letter of Support </button>
				</a>

				<p>Neighbors for Safer Austin Street advocates for a safer, better, more sustainable and more pedestrian-focused Austin Street in Forest Hills</p>

			</div>
		</main>
		<Footer />
	</body>
</html>
