---
const today = new Date();
---

<footer>
	<div class="social-links">
		<a href="https://m.webtoo.ls/@astro" target="_blank">
			<img src="/mastodon.svg" width="32" height="32" alt="Follow Astro on Mastodon" />
		</a>
		<a href="https://twitter.com/astrodotbuild" target="_blank">
			<img src="/twitter.svg" width="32" height="32" alt="Follow Astro on Twitter" />
		</a>
		<a href="https://www.instagram.com/asaferaustinstqns/" target="_blank">
			<img src="/instagram.svg" width="32" height="32" alt="Follow NASAS on Instagram" />
		</a>
	</div>
	<a class="cc-by" href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0 - Neighbors for a Safer Austin Street</a>
</footer>
<style>
	footer {
		padding: 1em 2em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
	.cc-by {
		margin-top: 2rem;
		display: block;
	}
</style>
