---
import SocialLinks from "./SocialLinks.astro";
---

<footer>
	<SocialLinks />
	<a class="cc-by" href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0 - Neighbors for a Safer Austin Street</a>
</footer>
<style>
	footer {
		padding: 1em 2em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
	.cc-by {
		margin-top: 2rem;
		display: block;
	}
</style>
