---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import SocialLinks from './SocialLinks.astro';
---

<header>
	<nav>
		<h2>
			<a href="/">
				<span class="desktop-title">{SITE_TITLE}</span>
				<img class="mobile-logo" src="/NASAS_logo.png" alt="NASAS Logo" />
			</a>
		</h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/news">Articles</HeaderLink>
      <HeaderLink href="/campaigns">Campaigns</HeaderLink>
      <HeaderLink href="/contact">Contact</HeaderLink>
      <HeaderLink href="/FAQs">FAQs</HeaderLink>
		</div>
		<div class="social-links-wrapper">
			<SocialLinks />
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.mobile-logo {
		display: none;
	}
	@media (max-width: 1000px) {
		.social-links-wrapper {
			display: none;
		}
		.desktop-title {
			display: none;
		}
		.mobile-logo {
			display: block;
			height: 4rem;
			width: auto;
		}
	}
</style>
