---
---
<div class="social-links">
  <a href="https://mastodon.social/@nasas" target="_blank">
    <img src="/mastodon.svg" width="32" height="32" alt="Follow NASAS on Mastodon" />
  </a>
  <a href="https://x.com/ASaferAustinSt" target="_blank">
    <img src="/twitter.svg" width="32" height="32" alt="Follow NASAS on X" />
  </a>
  <a href="https://www.instagram.com/asaferaustinstqns/" target="_blank">
    <img src="/instagram.svg" width="32" height="32" alt="Follow NASAS on Instagram" />
  </a>
</div>
<style>
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
	}
	.social-links a {
		display: flex;
		color: rgb(var(--black));
	}
</style>